:root {
  --general-font: "Muli", sans-serif;
  --primary-color: #e7ab3c;
  --secondary-color: #fff;
  --main-color: #111;
  --light-grey-color: #636363;
  --dark-grey-color: #252525;
  --primary-grey-color: #6e6e6e;
  --trim-grey-color: #d8d9da;
  --main-grey-color: #d1d1d1;
  --plane-grey-color: #b2b2b2;
  --boder-grey-color: #ebebeb;
  --inner-grey-color: #232530;
  --mild-grey-color: #191919;
  --darker-color: #171717;
  --btn-grey-color: #3b3b3b;
  --primary-black-color: #000;
  --orange-color: #f44336;
  --purple-color: #673ab7;
  --green-color: #76bc42;
  --series-color-1: #8230e3;
  --series-color-2: #2773be;
  --series-color-3: #eeee21;
  --series-color-4: #dc3232;
  --series-color-5: #81d742;
  --series-color-6: #4c4c4c;
  --series-color-7: #663333;
  --series-color-8: #999591;
  --series-color-9: #b7b7b7;
  --series-color-10: #292f3b;
  --series-color-11: #fac451;
  --shadow-color: 0 13px 32px rgba(51, 51, 51, 0.1);
  --transition-style: all 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: var(--general-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
  font-weight: 400;
  font-family: var(--general-font);
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: var(--general-font);
  color: var(--light-grey-color);
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
text-decoration: none;
outline: none;
color: var(--secondary-color);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ============ Button =========== */

.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-transform: uppercase;
}

.site-btn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 45px 11px;
  cursor: pointer;
}





/* ========================= Responsive Media Styles =========================== */

@media only screen and (min-width: 1200px) and (max-width: 1920px) {

}


@media only screen and (min-width: 1200px) {

}
/* ======= Medium Device: 1200px ========= */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {

}


/* ============== Tablet Device: 768px ============== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}


/* ================= Large Device: 480px ========================= */
@media only screen and (max-width: 767px) {

}

/* ===================== Small Device: 320px ======================= */
@media only screen and (max-width: 479px) {
  
}